.psinet-logo {
  max-width: 5%;
  height: auto;
}

.ecg-title {
  max-width: 7%;
  height: auto;
  text-align: left;
  padding-left: 5%;
}

/* .ecg-image {
    width: 7%;
    height: auto;    
} */

.tabs-text {
  color: #404040;
}
