.psinet-logo {
    max-width: 5%;
    height: auto;
}

.ecg-title {
    max-width: 7%;
    height: auto;
    text-align: left;
    font-size: 1.5rem; 
    padding-left: 5%;
}

.tabs-text {
    color: #404040;
}
